/*--- Global Styles --*/
.slackey {
    font-family: "Slackey", serif;
}

.iceland {
    font-family: "Iceland", serif;
}

a {
    text-decoration: none;
}
/*--- Header and Navbar --*/

/*--- Footer --*/

/*--- Home Page --*/

/*--- Game Page --*/

/*--- Global Leaderboard Page --*/
table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
}
h1 {
    margin-top: 20px;
}


/*--- Profile Page --*/

/*--- Accounts Pages --*/
