{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile-update-container">
    <h2 class="slackey">Update Your Profile</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn main-btn">Update Picture</button>
    </form>
    <form method="POST" action="{% url 'delete_profile_pic' %}">
        {% csrf_token %}
        <button type="submit" class="btn main-btn">Delete Picture</button>
    </form>
</div>
{% endblock %}