/*--- Global Styles --*/
body {
    font-family: "Iceland", serif;
}

main {
    background-color: #d487e5;
}

.slackey {
    font-family: "Slackey", serif;
}

a {
    text-decoration: none;
}

.main-btn {
    background-color: #1fee53;
    color: #7a0694;
}

.main-btn:hover, .main-btn:focus {
    color: #05f140;
    background-color: #7a0694;
}


/*--- Header and Navbar --*/
#bonk-title {
    color:#05f140;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-container {
    background-color: #7a0694;  
    color: #05f140;
}

.navbar-toggler {
    color: #05f140;
    margin-bottom: 5px;
}

.nav-link {
    color:#05f140;
    font-size: 30px;
}

.nav-link:hover, .nav-link:focus {
    font-weight: 800;
    color:#05f140;
}

.nav-link.active {
    font-weight: 600;
    color: #05f140 !important;
}

.nav-link:visited, .nav-link.show {
    color:#05f140 !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(5,241,64)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*--- Footer --*/
#footer {
    background-color: #7a0694;
    color: #05f140;
    font-size: 20px;
}

i {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;   
    -o-transition: all .5s ease-in-out; 
}

i:hover {
    color: #05f140;
}
/*--- Home Page --*/

/*--- Game Page --*/
#game-container{
    width: 100%;
}
.game-row{
    min-height: 25%;
}
.score-para{
    font-size: 2rem;
    text-align: center;
    
    color: #7a0694;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#high-score, #current-score{
    font-size: 2.5rem;
    color: #05f140;
    background-color: #21032973;
}
/*------------------------------------------------ game instruction styling ----------------------------------*/
#game-instruction{
    text-align: center;
    background-color: #21032973;
    font-size: 2.5rem
}

.prompt-btn-bonk {
    
    color: #7a0694;
}

.prompt-btn-pink {
    
    color: #FF73b7;
}

.prompt-btn-blue {
    
    color: #72F6f8;
}

.prompt-btn-green {
    
    color: #05f140;
}
.prompt-btn-red {
    
    color: #f61111;
}
/*-------------------------------------------------------Button Styling--------------------------------------*/
.btn-col{
    align-items: center;
    justify-content: center;
}
#start-button{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color:#05f140;
    border: 0px;
    border-radius: 35px;
}
#btn-pink,
#btn-blue,
#btn-green,
#btn-red {
    max-width: 25vw;
    max-height: 10vw;
    color: black;
    width: 20vw;
    height: 10vw;
    border-radius: 20px;
    min-width: 100px;
    min-height: 100px;
}
#btn-pink:active,
#btn-blue:active,
#btn-green:active,
#btn-red:active,
#btn-bonk:active {
    background-color: yellow;
}
#btn-bonk{
    min-width: 150px;
    min-height: 150px;
    width: 35vw;
    height: 35vw;
    max-width: 240px;
    max-height: 240px;
    border-radius: 35px;
}
.btn-bonk {
    background-color: #7a0694;
    border-color: #3f044d;
    
}
.btn-bonk:hover {
    background-color: #3f044d;
}
.btn-pink{
    background-color: #FF73b7;
    border-color:#813a5c
}
.btn-pink:hover{
    background-color: #813a5c;
}
.btn-blue{
    background-color: #72F6f8;
    border-color: #347172;
}
.btn-blue:hover{
    background-color: #347172;
}

.btn-green{
    background-color: #05f140;
    border-color:#14742c;
}
.btn-green:hover{
    background-color: #14742c;
}
.btn-red{
    background-color: #f61111;
    border-color: #5c0a0a;
}
.btn-red:hover{
    background-color: #5c0a0a;
}



/*--- Global Leaderboard Page --*/
.card{
    border: none;
}

.card-body{
    
    padding: 5px 0px 0px;
}

h1 {
    margin-top: 20px;
}

.leader-header{
    font-family: 'Slackey', sans-serif;
    font-weight: bolder;
    font-size: 4rem;
    color:#05f140;
    -webkit-text-stroke: 0.1px black;
    
}

.iceland.subhead.text-center{
    background-color: #7a0694;
    color:#05f140;
}

.card-header.text-center{
    background-color: #7a0694;
    color: #05f140;
    font-size: 2.5rem;
}

.scoreboard{
    font-size: 2.5rem;
    font-weight: bolder;
}

.easy-section{
    background-color: #d487e5
}
.hard-section{
    background-color: #d487e5

}

.heck-section{
    background-color: #d487e5
}

td{
    font-family:"Iceland", serif;
    text-align: center;
    font-size: 1.3rem;
}

th{
    font-size: 1.8rem;
    background-color: #7a0694;
    
    
}

.highest-score {
   font-weight: bold;
   text-transform: uppercase;

}

@media (max-width: 550px) {
    .leader-header{
        font-family: 'Slackey', sans-serif;
        font-weight: bolder;
        font-size: 2rem;
        color:#05f140;
        -webkit-text-stroke: 0.1px black;
}
}

.profile-pic-leaderboard {
    float: left;
    width: 25px;            
    height: 25px;           
    border-radius: 50%;      
    object-fit: cover;       
    border: 1.5px solid #7a0694;
}

/*--- Profile Page --*/
.profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:20px;
}

.profile-pic {
    width: 150px;            /* Set a fixed width */
    height: 150px;           /* Set a fixed height */
    border-radius: 50%;      /* Make the image circular */
    object-fit: cover;       /* Ensure the image fills the circle without distorting */
    border: 8px solid #7a0694; /* Optional: adds a border around the circle */
}

/*--- Accounts Pages --*/
.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.login-card {
    background: #d487e5;
	border-radius: 20px;
	padding: 3rem;
	width: 100%;
	max-width: 450px;
	box-shadow: 0 15px 35px rgba(50, 24, 46, 0.288);
	position: relative;
	overflow: hidden;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}