/*--- Global Styles --*/
.slackey {
    font-family: "Slackey", serif;
}

.iceland {
    font-family: "Iceland", serif;
}

a {
    text-decoration: none;
}
/*--- Header and Navbar --*/

/*--- Footer --*/

/*--- Home Page --*/

/*--- Game Page --*/

/*--- Global Leaderboard Page --*/

/*--- Profile Page --*/

/*--- Accounts Pages --*/
