/*--- Global Styles --*/
.slackey {
    font-family: "Slackey", serif;
}

.iceland {
    font-family: "Iceland", serif;
}

a {
    text-decoration: none;
}
/*--- Header and Navbar --*/

/*--- Footer --*/

/*--- Home Page --*/

/*--- Game Page --*/

/*--- Global Leaderboard Page --*/

/*--- Profile Page --*/
.profile-pic {
    width: 150px;            
    height: 150px;           
    border-radius: 50%;      
    object-fit: cover;       
    border: 2px solid #b864cb; 
}

/*--- Accounts Pages --*/
