{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="game-container" class="container">
    <div class="row g-0 instruction-row pt-">
        <h2 id="game-instruction" class="text-center">
            Instruction
        </h2>
    </div>
    <div class="row g-0 game-row">
        <div class="col btn-col d-flex">
            <button class="btn btn-success btn-red"></button>
        </div>
        <div class="col btn-col d-flex">
        <button class="btn btn-success btn-pink"></button>
        </div>
    </div>
    <div class="row g-0 game-row">
        <div class="col">
        <p>Score: <span id="current-score"></span></p>
        </div>
        <div class="col btn-col d-flex">
        <button class="btn btn-success btn-bonk"></button>
        </div>
        <div class="col">
        {% for score in highscores %}
        {% if score.difficulty == 'EASY'%}
        <p>Score: <span id="high-score">{{ score.score }}</span></p>
        </div>
    </div>
    <div class="row g-0 game-row">
        <div class="col btn-col d-flex">
        <button class="btn btn-success btn-blue"></button>
        </div>
        <div class="col btn-col d-flex">
        <button class="btn btn-success btn-green"></button>
        </div>
    </div>
</div>

{% endblock content %}



<div>
</div>