{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="game-container">
    <div class="row g-0 instruction-row pt-3">

        

        <div class="col">
            <h2 id="game-instruction" class="game-instruction">
                Hard Mode
            </h2>
        </div> 

    
    </div>
    <div class="row g-0 game-row">
        <div class="col btn-col d-flex">
            <button id="btn-red" class="btn btn-success btn-red"></button>
        </div>
        <div  class="col btn-col d-flex">
        <button id="btn-pink" class="btn btn-success btn-pink"></button>
        </div>
    </div>
    <div class="row g-0 game-row">
        <div class="col d-flex flex-column align-items-center justify-content-center">
            
            <p class="score-para mb-0"><span id="current-score">0</span></p>
            <p class="score-para mb-0">
                Score: 
                
            </p>
        </div>
        <div class="col btn-col d-flex justify-content-center">
        <button id="btn-bonk" class="btn btn-success btn-bonk">
            <a id="start-button" class="btn btn-bonk">Start game</a>
        </button>
        </div>
        <div class="col d-flex flex-column align-items-center justify-content-center">
            {% if user.is_authenticated %}
                {% if highscores.exists %}
                    {% for score in highscores %}
                        {% if score.difficulty == 'Hard' %}
                            <p class="score-para mb-0"><span id="high-score" data-high-score="{{ score.score }}"> {{ score.score }}</span></p><br>
                            <p class="score-para ">HighScore</p>
                        
                        {% endif %}
                    {% empty %}
                    <p class="score-para mb-0"><span id="high-score" data-high-score="0"> 0</span></p><br>
                    <p class="score-para ">HighScore</p>
                    {% endfor %}
                {% else %}
                <p class="score-para mb-0"><span id="high-score" data-high-score="0"> 0</span></p><br>
                            <p class="score-para ">HighScore</p>
                {% endif %}
            {% else %}
            <p class="score-para mb-0"><span id="high-score" data-high-score="0"> 0</span></p><br>
                            <p class="score-para ">HighScore</p>
            {% endif %}
        </div>
    </div>
    <div class="row g-0 game-row">
        <div class="col btn-col d-flex">
        <button id="btn-blue" class="btn btn-success btn-blue"></button>
        </div>
        <div class="col btn-col d-flex">
        <button id="btn-green" class="btn btn-success btn-green"></button>
        </div>
    </div>
</div>


<div class="modal fade" id="game-over-modal"  role="dialog" aria-labelledby="gameOverModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Game Over!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="high-score-form" method="post" action="{% url 'submit_high_score' %}">
            <div class="modal-body">
                <p>Your final score: <span id="final-score"></span></p>
            
                <div id="high-score-content" style="display: none;">
                    <p>Congratulations! You've beaten your previous high score!</p>
                    
                        {% csrf_token %}
                        <input type="hidden" name="username" value="{{ request.user.username }}">
                        <input type="hidden" id="score-input" name="score" value="">
                        <input type="hidden" name="difficulty" value="Hard">
                        
                    
                </div>
                
                <div id="low-score-content" style="display: none;">
                    <p>Keep practicing! Your current high score is <span id="user-high-score"></span>.</p>
                    
                </div>
            </div>
            <div class="modal-footer">
            <button id="submit-score" type="submit" class="btn btn-secondary">Submit Score</button>
            <button id="play-again" type="button" class="btn btn-primary">Play again</button>
            </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}

{% block customJS %}
<script src="{% static 'js/hard-mode.js' %}"></script>
{% endblock customJS %}
<div>
</div>